In [4]:
import sqlite3
import pandas as pd

# Replace 'your_database_name.db' with the desired name for your SQLite database
database_name = 'test_prices.db'
csv_file_path = 'DataPrice-2024-01-29.csv'

# Create a connection to the SQLite database
conn = sqlite3.connect(database_name)

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)

# Elimina las columnas especificadas
#columns_to_drop = ['Comarca', 'id', 'data_source', 'Cantidad (t)', 'Variedad', 'Familia']
#df = df.drop(columns=columns_to_drop)

# Formatea la columna de fecha sin la hora
df['Fecha'] = pd.to_datetime(df['Fecha']).dt.date

# Write the DataFrame to the SQLite database
df.to_sql('precio_del_cultivo', conn, index=False, if_exists='replace')

# Commit the changes and close the connection
conn.commit()
conn.close()

print(f"Database '{database_name}' created and filled with data from '{csv_file_path}'.")

Database 'test_prices.db' created and filled with data from 'DataPrice-2024-01-29.csv'.

/var/folders/13/vtwv0p951k11cf7tvhd750jw0000gn/T/ipykernel_16729/1164132424.py:22: UserWarning: Parsing dates in %d-%m-%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Fecha'] = pd.to_datetime(df['Fecha']).dt.date

In [5]:
import sqlite3

# Conéctate a la base de datos
conn = sqlite3.connect('test_prices.db')  # Reemplaza con el nombre real de tu base de datos
cursor = conn.cursor()

# Ejecuta una consulta SQL
cursor.execute('SELECT * FROM precio_del_cultivo')  # Reemplaza con el nombre real de tu tabla

results = cursor.fetchall()

# Imprime los resultados
for row in results:
    print(row)

# Cierra la conexión
conn.close()

('Maíz', 'Nacional', 'Cereales', '2022-10-18', 0.0, 350.75, 'León', 'Null', 121003, 31)
('Maíz', 'Nacional', 'Cereales', '2022-10-19', None, 348.75, 'León', None, 139010, 31)
('Maíz', 'Nacional', 'Cereales', '2022-10-20', None, 348.0, 'León', 'Castilla y León', 163016, 31)
('Maíz', 'Nacional', 'Cereales', '2022-10-20', 0.0, 350.0, 'León', None, 163856, 31)
('Maíz', 'Nacional', 'Cereales', '2022-10-25', None, 353.0, 'León', 'Castilla y León', 171047, 31)
('Maíz', 'Nacional', 'Cereales', '2022-10-26', None, 352.0, 'León', 'Castilla y León', 171055, 31)
('Maíz', 'Nacional', 'Cereales', '2022-10-28', 0.0, 350.0, 'León', None, 171302, 31)
('Maíz', 'Nacional', 'Cereales', '2022-10-31', None, 353.0, 'León', 'Castilla y León', 171309, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-02', None, 350.0, 'León', 'Castilla y León', 171603, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-03', None, 350.0, 'León', 'Castilla y León', 171618, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-05', None, 349.5, 'León', 'Castilla y León', 171624, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-07', None, 349.5, 'León', 'Castilla y León', 171640, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-08', None, 350.0, 'León', 'Castilla y León', 171646, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-09', None, 349.5, 'León', 'Castilla y León', 171652, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-10', None, 349.5, 'León', 'Castilla y León', 171662, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-11', None, 349.0, 'León', None, 171684, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-14', None, 348.75, 'León', None, 171698, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-15', None, 343.25, 'León', None, 171710, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-16', None, 337.5, 'León', None, 171718, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-17', None, 336.0, 'León', None, 171734, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-18', None, 329.0, 'León', None, 171754, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-21', None, 327.5, 'León', None, 171768, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-22', None, 328.0, 'León', None, 171780, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-23', None, 327.5, 'León', None, 171796, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-25', None, 327.5, 'León', None, 171812, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-28', None, 324.25, 'León', 'Castilla y León', 171826, 31)
('Maíz', 'Nacional', 'Cereales', '2022-11-29', None, 317.25, 'León', None, 171843, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-01', None, 317.25, 'León', None, 171867, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-01', None, 317.0, 'León', None, 171875, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-02', None, 317.0, 'León', None, 171895, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-05', None, 310.0, 'León', None, 171918, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-12', None, 307.0, 'León', None, 171946, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-13', None, 307.0, 'León', None, 171964, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-14', None, 307.0, 'León', None, 171975, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-15', None, 305.0, 'León', None, 171996, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-16', None, 304.75, 'León', None, 172015, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-19', None, 304.75, 'León', None, 172046, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-20', None, 304.75, 'León', None, 172058, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-21', None, 305.0, 'León', None, 172066, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-22', None, 307.25, 'León', None, 172082, 31)
('Maíz', 'Nacional', 'Cereales', '2022-12-23', None, 307.25, 'León', None, 172095, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-03', None, 313.5, 'León', None, 172164, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-04', None, 312.75, 'León', None, 172179, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-05', None, 312.75, 'León', None, 172196, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-09', None, 312.75, 'León', None, 172227, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-10', None, 310.5, 'León', None, 172240, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-11', None, 308.75, 'León', None, 172287, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-12', None, 308.75, 'León', None, 172300, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-13', None, 308.75, 'León', None, 172306, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-16', None, 308.75, 'León', None, 172333, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-17', None, 308.0, 'León', None, 172349, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-18', None, 308.0, 'León', None, 172365, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-19', None, 308.0, 'León', None, 172382, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-20', None, 306.75, 'León', None, 172396, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-23', None, 305.5, 'León', None, 172411, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-24', None, 303.0, 'León', None, 172429, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-25', None, 302.0, 'León', None, 172464, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-26', None, 303.0, 'León', None, 172477, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-27', None, 303.0, 'León', None, 172487, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-30', None, 303.0, 'León', None, 172510, 31)
('Maíz', 'Nacional', 'Cereales', '2023-01-31', None, 301.25, 'León', None, 172523, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-01', None, 301.0, 'León', None, 172551, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-02', None, 300.25, 'León', None, 172576, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-03', None, 300.0, 'León', None, 172590, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-06', None, 300.0, 'León', None, 172615, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-07', None, 301.0, 'León', None, 172632, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-08', None, 301.0, 'León', None, 172648, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-09', None, 301.0, 'León', None, 172668, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-10', None, 301.25, 'León', None, 172686, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-13', None, 302.75, 'León', None, 172699, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-14', None, 305.0, 'León', None, 172708, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-15', None, 306.0, 'León', None, 172734, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-16', None, 305.0, 'León', None, 172751, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-17', None, 305.0, 'León', None, 172767, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-20', None, 305.0, 'León', None, 172785, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-21', None, 305.0, 'León', None, 172799, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-22', None, 304.0, 'León', None, 172823, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-23', None, 304.0, 'León', None, 172837, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-24', None, 304.0, 'León', None, 172853, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-27', None, 303.0, 'León', None, 172868, 31)
('Maíz', 'Nacional', 'Cereales', '2023-02-28', None, 303.0, 'León', None, 172881, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-01', None, 296.5, 'León', None, 172899, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-02', None, 296.5, 'León', None, 172930, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-03', None, 296.0, 'León', None, 172939, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-06', None, 295.0, 'León', None, 172963, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-07', None, 293.0, 'León', None, 172969, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-08', None, 291.5, 'León', None, 172992, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-09', None, 289.0, 'León', None, 173020, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-10', None, 288.75, 'León', None, 173040, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-13', None, 288.75, 'León', None, 173051, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-14', None, 286.0, 'León', None, 173093, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-15', None, 283.5, 'León', None, 173124, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-16', None, 283.0, 'León', None, 173140, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-17', None, 280.5, 'León', None, 173172, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-20', None, 278.0, 'León', None, 173191, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-21', None, 275.0, 'León', None, 173219, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-22', None, 274.0, 'León', None, 173251, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-23', None, 273.0, 'León', None, 173277, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-24', None, 273.0, 'León', None, 173296, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-27', None, 278.0, 'León', None, 173307, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-28', None, 278.5, 'León', None, 173336, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-29', None, 278.5, 'León', None, 173355, 31)
('Maíz', 'Nacional', 'Cereales', '2023-03-30', None, 278.5, 'León', None, 173398, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-03', None, 279.75, 'León', None, 173417, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-04', None, 280.0, 'León', None, 173446, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-05', None, 280.0, 'León', None, 173483, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-10', None, 280.0, 'León', None, 173523, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-11', None, 280.0, 'León', None, 173546, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-12', None, 280.0, 'León', None, 173575, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-13', None, 279.5, 'León', None, 173607, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-14', None, 279.5, 'León', None, 173629, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-17', None, 280.5, 'León', None, 173664, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-18', None, 275.5, 'León', None, 173675, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-19', None, 275.5, 'León', None, 173710, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-20', None, 275.5, 'León', None, 173744, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-21', None, 275.0, 'León', None, 173757, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-24', None, 275.0, 'León', None, 173792, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-25', None, 275.0, 'León', None, 173807, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-26', None, 275.0, 'León', None, 173841, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-27', None, 274.0, 'León', None, 173856, 31)
('Maíz', 'Nacional', 'Cereales', '2023-04-28', None, 274.0, 'León', None, 173889, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-02', None, 272.5, 'León', None, 173905, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-03', None, 269.0, 'León', None, 173938, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-04', None, 269.75, 'León', None, 173969, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-05', None, 269.75, 'León', None, 173986, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-08', None, 268.0, 'León', None, 174003, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-09', None, 260.0, 'León', None, 174024, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-10', None, 259.25, 'León', None, 174052, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-11', None, 259.25, 'León', None, 174086, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-12', None, 259.25, 'León', None, 174092, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-15', None, 261.0, 'León', None, 174124, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-16', None, 260.0, 'León', None, 174141, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-17', None, 258.0, 'León', None, 174165, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-18', None, 255.0, 'León', None, 174201, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-19', None, 255.0, 'León', None, 174202, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-22', None, 253.0, 'León', None, 174228, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-23', None, 253.0, 'León', None, 174246, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-24', None, 252.5, 'León', None, 174295, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-25', None, 251.75, 'León', None, 174328, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-26', None, 251.0, 'León', None, 174341, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-29', None, 251.0, 'León', None, 174362, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-30', None, 250.0, 'León', None, 174398, 31)
('Maíz', 'Nacional', 'Cereales', '2023-05-31', None, 249.0, 'León', None, 174423, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-01', None, 249.0, 'León', None, 174458, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-02', None, 249.0, 'León', None, 174470, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-05', None, 249.0, 'León', None, 174500, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-06', None, 251.0, 'León', None, 174536, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-07', None, 248.75, 'León', None, 174576, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-08', None, 248.75, 'León', None, 174593, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-09', None, 248.75, 'León', None, 174618, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-12', None, 248.75, 'León', None, 174645, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-13', None, 248.75, 'León', None, 174678, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-14', None, 248.0, 'León', None, 174703, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-15', None, 248.0, 'León', None, 174735, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-16', None, 250.25, 'León', None, 174757, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-19', None, 250.25, 'León', None, 174792, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-20', None, 251.0, 'León', None, 174815, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-21', None, 252.0, 'León', None, 174843, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-22', None, 255.0, 'León', None, 174877, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-23', None, 254.0, 'León', None, 174892, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-26', None, 256.0, 'León', None, 174928, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-27', None, 253.0, 'León', None, 174942, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-28', None, 250.0, 'León', None, 174978, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-29', None, 248.0, 'León', None, 175003, 31)
('Maíz', 'Nacional', 'Cereales', '2023-06-30', None, 248.0, 'León', None, 175030, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-03', None, 247.0, 'León', None, 175064, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-04', None, 247.0, 'León', None, 175123, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-05', None, 247.0, 'León', None, 175162, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-06', None, 247.0, 'León', None, 175186, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-07', None, 247.0, 'León', None, 175235, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-10', None, 247.0, 'León', None, 175261, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-11', None, 248.0, 'León', None, 175298, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-12', None, 248.0, 'León', None, 175362, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-13', None, 246.0, 'León', None, 175353, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-14', None, 247.0, 'León', None, 175376, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-17', None, 248.0, 'León', None, 175406, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-18', None, 249.0, 'León', None, 175436, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-19', None, 253.0, 'León', None, 175492, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-20', None, 256.0, 'León', None, 175531, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-21', None, 254.0, 'León', None, 175557, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-24', None, 256.5, 'León', None, 175597, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-25', None, 256.5, 'León', None, 175650, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-26', None, 256.0, 'León', None, 175679, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-27', None, 255.75, 'León', None, 175725, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-28', None, 255.0, 'León', None, 175748, 31)
('Maíz', 'Nacional', 'Cereales', '2023-07-31', None, 253.0, 'León', None, 175794, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-01', None, 250.5, 'León', None, 175843, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-02', None, 250.5, 'León', None, 175865, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-03', None, 250.0, 'León', None, 175890, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-04', None, 251.0, 'León', None, 175912, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-07', None, 252.25, 'León', None, 175940, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-08', None, 252.25, 'León', None, 175973, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-09', None, 252.25, 'León', None, 176001, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-10', None, 252.0, 'León', None, 176026, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-11', None, 252.0, 'León', None, 176046, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-17', None, 249.0, 'León', None, 176075, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-18', None, 249.0, 'León', None, 176099, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-21', None, 248.0, 'León', None, 176199, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-22', None, 248.0, 'León', None, 176205, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-23', None, 248.0, 'León', None, 176244, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-24', None, 246.0, 'León', None, 176261, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-25', None, 246.0, 'León', None, 176290, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-28', None, 246.0, 'León', None, 176318, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-29', None, 245.25, 'León', None, 176352, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-30', None, 244.5, 'León', None, 176380, 31)
('Maíz', 'Nacional', 'Cereales', '2023-08-31', None, 244.5, 'León', None, 176403, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-01', None, 244.0, 'León', None, 176424, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-04', None, 244.0, 'León', None, 176445, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-05', None, 245.0, 'León', None, 176481, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-06', None, 245.0, 'León', None, 176523, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-07', None, 245.0, 'León', None, 176551, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-08', None, 245.0, 'León', None, 176610, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-11', None, 244.0, 'León', None, 176631, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-12', None, 243.0, 'León', None, 176678, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-13', None, 243.0, 'León', None, 176705, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-14', None, 242.0, 'León', None, 176735, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-15', None, 242.75, 'León', None, 176750, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-18', None, 241.0, 'León', None, 176790, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-19', None, 241.0, 'León', None, 176818, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-20', None, 242.0, 'León', None, 176845, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-21', None, 242.0, 'León', None, 176883, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-22', None, 242.0, 'León', None, 176908, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-25', None, 242.0, 'León', None, 176931, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-26', None, 242.0, 'León', None, 176963, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-27', None, 242.0, 'León', None, 176991, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-28', None, 241.0, 'León', None, 177019, 31)
('Maíz', 'Nacional', 'Cereales', '2023-09-29', None, 241.0, 'León', None, 177041, 31)
('Maíz', 'Nacional', 'Cereales', '2023-10-02', None, 239.0, 'León', None, 177062, 31)
('Maíz', 'Nacional', 'Cereales', '2023-10-03', None, 239.0, 'León', None, 177109, 31)
('Maíz', 'Nacional', 'Cereales', '2023-10-04', None, 237.5, 'León', None, 177139, 31)

In [71]:
from langchain.sql_database import SQLDatabase
db = SQLDatabase.from_uri("sqlite:///test_prices.db")

In [72]:
import api_key
import os
os.environ["OPENAI_API_KEY"] = api_key.OPENAI_API_KEY

In [73]:
from langchain.chat_models import ChatOpenAI
llm = ChatOpenAI(temperature=0,model_name='gpt-3.5-turbo')

In [74]:
from langchain_experimental.sql import SQLDatabaseChain
cadena = SQLDatabaseChain(llm = llm, database = db, verbose=False)

/Users/daniel/anaconda3/envs/abastores_gpt/lib/python3.11/site-packages/langchain_experimental/sql/base.py:76: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [78]:
# 5. Formato personalizado de respuesta

In [79]:
# 6. Función para hacer la consulta

def consulta(input_usuario):
    consulta = formato.format(question = input_usuario)
    resultado = cadena.run(consulta)
    return(resultado)

In [80]:
print(consulta('porque el precio del maiz bajo del 9 al 10 de enero del 2023?'))

En base a los datos obtenidos de la tabla "precio_del_cultivo", el precio del maíz bajó del 9 al 10 de enero del 2023 de 312.75 €/t a 310.5 €/t. Esta disminución en el precio podría estar relacionada con la noticia del 12 de enero que pronostica una baja en el precio de los cítricos debido a la sobreproducción, lo que podría estar afectando también al mercado de otros productos agrícolas como el maíz.

In [95]:
import requests
import pandas as pd

# Define the API endpoint
api_url = "https://api.eia.gov/v2/international/data/"

# Define the parameters
params = {
    "frequency": "monthly",
    "data[0]": "value",
    "facets[countryRegionId][]": "ESP",
    "start": "2000-01",
    "end": "2023-10",
    "sort[0][column]": "period",
    "sort[0][direction]": "desc",
    "offset": 0,
    "length": 5000,
    "api_key": "QPPZI67wpn6GRcwcQ5KdqEXGbxySLYsiXDZWLO7q",  # Replace with your actual API key
}

# Make the API request
response = requests.get(api_url, params=params)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the JSON response
    data = response.json()

    # Extract the relevant data from the JSON response (assuming data is in "series")
    series_data = data.get("response", [])

    # Convert the data to a DataFrame
    df = pd.DataFrame(series_data)

    # Explode the 'data' column
    df = df.join(json_normalize(df['data']).add_prefix('data_')).drop(columns='data')
    
    # Explode the 'description' column
    df = df.assign(description=df['description'].str.split('...').explode().reset_index(drop=True))
    
    # Display the resulting DataFrame
    print(df)
    # Display the DataFra
else:
    # Handle the error
    print(f"Error: {response.status_code} - {response.text}")

     total dateFormat frequency description data_period data_productId  \
0     2143    YYYY-MM   monthly                 2023-10              5
1     2143    YYYY-MM   monthly                 2023-10             59
2     2143    YYYY-MM   monthly                 2023-10             58
3     2143    YYYY-MM   monthly                 2023-10             57
4     2143    YYYY-MM   monthly                 2023-10             56
...    ...        ...       ...         ...         ...            ...
2138  2143    YYYY-MM   monthly                 2000-01              5
2139  2143    YYYY-MM   monthly                 2000-01             53
2140  2143    YYYY-MM   monthly                 2000-01             54
2141  2143    YYYY-MM   monthly                 2000-01             55
2142  2143    YYYY-MM   monthly                 2000-01             57

                          data_productName data_activityId data_activityName  \
0              Petroleum and other liquids               5      Stocks, OECD
1                            Other liquids               1        Production
2                                     NGPL               1        Production
3     Crude oil including lease condensate               1        Production
4                 Refinery processing gain               1        Production
...                                    ...             ...               ...
2138           Petroleum and other liquids               5      Stocks, OECD
2139     Total petroleum and other liquids               1        Production
2140            Refined petroleum products               2       Consumption
2141    Crude oil, NGPL, and other liquids               1        Production
2142  Crude oil including lease condensate               1        Production

     data_countryRegionId data_countryRegionName data_countryRegionTypeId  \
0                     ESP                  Spain                        c
1                     ESP                  Spain                        c
2                     ESP                  Spain                        c
3                     ESP                  Spain                        c
4                     ESP                  Spain                        c
...                   ...                    ...                      ...
2138                  ESP                  Spain                        c
2139                  ESP                  Spain                        c
2140                  ESP                  Spain                        c
2141                  ESP                  Spain                        c
2142                  ESP                  Spain                        c

     data_countryRegionTypeName data_dataFlagId  \
0                       Country               6
1                       Country            None
2                       Country            None
3                       Country               5
4                       Country            None
...                         ...             ...
2138                    Country               6
2139                    Country            None
2140                    Country               6
2141                    Country            None
2142                    Country            None

                               data_dataFlagDescription  \
0               A value exists, but cannot be published
1                                                  None
2                                                  None
3     A value exists, but rounds to zero; non-rounde...
4                                                  None
...                                                 ...
2138            A value exists, but cannot be published
2139                                               None
2140            A value exists, but cannot be published
2141                                               None
2142                                               None

                 data_unitName    data_value data_unit
0             millions barrels             w      MBBL
1     thousand barrels per day        45.069      TBPD
2     thousand barrels per day             2      TBPD
3     thousand barrels per day          .012      TBPD
4     thousand barrels per day  29.556055596      TBPD
...                        ...           ...       ...
2138          millions barrels             w      MBBL
2139  thousand barrels per day         5.032      TBPD
2140  thousand barrels per day             w      TBPD
2141  thousand barrels per day         5.032      TBPD
2142  thousand barrels per day         5.032      TBPD

[2143 rows x 18 columns]

In [100]:
df['data_productName'].value_counts()

data_productName
Petroleum and other liquids             286
Crude oil including lease condensate    286
Crude oil, NGPL, and other liquids      286
Refined petroleum products              286
Total petroleum and other liquids       286
NGPL                                    238
Refinery processing gain                238
Other liquids                           237
Name: count, dtype: int64

In [114]:
df.loc[df['data_productName']=='Crude oil including lease condensate']

,total,dateFormat,frequency,description,data_period,data_productId,data_productName,data_activityId,data_activityName,data_countryRegionId,data_countryRegionName,data_countryRegionTypeId,data_countryRegionTypeName,data_dataFlagId,data_dataFlagDescription,data_unitName,data_value,data_unit
3,2143,YYYY-MM,monthly,,2023-10,57,Crude oil including lease condensate,1,Production,ESP,Spain,c,Country,5,"A value exists, but rounds to zero; non-rounde...",thousand barrels per day,.012,TBPD
10,2143,YYYY-MM,monthly,,2023-09,57,Crude oil including lease condensate,1,Production,ESP,Spain,c,Country,None,None,thousand barrels per day,0,TBPD
18,2143,YYYY-MM,monthly,,2023-08,57,Crude oil including lease condensate,1,Production,ESP,Spain,c,Country,5,"A value exists, but rounds to zero; non-rounde...",thousand barrels per day,.02,TBPD
26,2143,YYYY-MM,monthly,,2023-07,57,Crude oil including lease condensate,1,Production,ESP,Spain,c,Country,5,"A value exists, but rounds to zero; non-rounde...",thousand barrels per day,.017,TBPD
34,2143,YYYY-MM,monthly,,2023-06,57,Crude oil including lease condensate,1,Production,ESP,Spain,c,Country,5,"A value exists, but rounds to zero; non-rounde...",thousand barrels per day,.015,TBPD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2119,2143,YYYY-MM,monthly,,2000-05,57,Crude oil including lease condensate,1,Production,ESP,Spain,c,Country,None,None,thousand barrels per day,4.548,TBPD
2124,2143,YYYY-MM,monthly,,2000-04,57,Crude oil including lease condensate,1,Production,ESP,Spain,c,Country,None,None,thousand barrels per day,4.7,TBPD
2129,2143,YYYY-MM,monthly,,2000-03,57,Crude oil including lease condensate,1,Production,ESP,Spain,c,Country,None,None,thousand barrels per day,4.806,TBPD
2134,2143,YYYY-MM,monthly,,2000-02,57,Crude oil including lease condensate,1,Production,ESP,Spain,c,Country,None,None,thousand barrels per day,4.862,TBPD
2142,2143,YYYY-MM,monthly,,2000-01,57,Crude oil including lease condensate,1,Production,ESP,Spain,c,Country,None,None,thousand barrels per day,5.032,TBPD

In [103]:
df.loc[df['data_productName']=='Petroleum and other liquids','data_value']

0       w
8       w
15      w
23      w
31      w
       ..
2118    w
2123    w
2128    w
2133    w
2138    w
Name: data_value, Length: 286, dtype: object